@import "_inc/mixins";
@import "_inc/variables";

body {
  background-color: black;
  overflow-x: hidden;
  height: 100%;
}

#backdrop {
  background-size: inherit;
  background-attachment: fixed;
  background-position: 42% 50%;
  width: 100%;
  min-height: 100%;
  background-size: cover;

  @media #{$tablet} {
    background-position: 50% 20%;
	}

  h1 {
    color: #FFFFFF;
    font-size: 0;
  }

}

.logo-emblem {
  height: 70px;
  width: 58px;
  z-index: 1;
  padding: 12px;

  @media #{$tablet} {
    padding: 7px;
  }

}

#loading {
  color: #ffffff;
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 25px;
  z-index: 1;
  text-align: center;
  background: none;
}

#btn-startstop {
  position: absolute;
  position: fixed;
  bottom: 36px;
  right: 33px;
  z-index: 3;
  font-family: $font_default;
  color: #FFFFFF;
  background: none;
  background-image: url('/dynamic/upload/filer/icon-mute.svg');
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 75px -3px;
  border: none;
  font-size: 24px;
  font-weight: bold;
  width: 120px;
  display: none;

  @media #{$desktop} {
		display: block;
	}


  &:hover {
    text-decoration: line-through;
    cursor: pointer;
    color: $color_pr3;
    background-image: url('/dynamic/upload/filer/icon-mute-hover.svg');
  }
}


.visualizer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  right: -50%;
}

#freq {
  transition: opacity 1s ease;
  opacity: 0;
  height: 0;

  &.animateHue {
    opacity: 0.6;
    height: auto;
  }
}

.inner-wrapper {
  position: relative;
  z-index: 1;
}

.bandlogo {
  margin-top: 50px;
  margin-left: 10%;
  max-width: 650px;

  @media #{$tablet} {
    margin-top: 7%;
  }


}

.submenu {
  z-index: 1;
  position: relative;
  margin-bottom: 130px;
  padding-left: 10px;
  padding-right: 10px;
  width: 95%;
  max-width: 560px;

  ul {
    font-family: $font_default;
    list-style: none;
    padding: 0;
    text-align: center;
    padding-bottom: 20px;
  }

  @media #{$tablet} {
		width: 65%;
    padding-left: 50px;
    margin-bottom: 175px;

    ul { padding-bottom: 10px; }
	}

  @media #{$desktop} {
		width: 55%;
    padding-left: 100px;
    margin-bottom: 190px;

    ul { padding-bottom: 0; }
	}



  a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: $h5;

    &:hover {
      color: $color_pr3;
      text-decoration: line-through;
    }

    @media #{$tablet} {
  		font-size: $h4;
  	}

    @media #{$desktop} {
  		font-size: $h3;
  	}


  }

  li {
    display: inline-block;
  }
}

.social-section {
  text-align: center;

  // @media #{$desktop} {
  //   position: fixed;
  //   top: 20%;
  //   right: 20px;
  // }

}

.social-icons {
  display: inline-block;
  margin-bottom: 0px;
  padding: 10px;
  margin-bottom: 40px;

  @media #{$tablet} {

  }

  // @media #{$desktop} {
  //   display: block;
  //   text-align: center;
  //   margin-bottom: 7px;
  // }

  img {
    max-width: 140px;
    height: 35px;

    @media #{$desktop} {
      max-width: 130px;
      height: 40px;
      transition: transform .3s ease-in-out;
      transform:scale(0.95);
    }
  }

  &:hover {
    text-decoration: none!important;

    img {
      transform:scale(1);
    }

  }
}

.text-block{
  font-size: $basesize;
  margin-bottom: 100px;
  margin-top: 100px;

  @media #{$tablet} {
    margin-bottom: 130px;
    margin-top: 130px;
  }

  @media #{$desktop} {
    margin-bottom: 150px;
    margin-top: 130px;
  }


  p {
    font-weight: bold;
    margin: 0;
  }

  h2 {
    padding-left: 30px;
    margin-bottom: 8px;
  }

  &:nth-of-type(2) {
    padding-left: 14%;
  }

  &:nth-of-type(3) {
    padding-left: 8%;
  }
}

.text-block:not(.slideshow) {
  padding-left: 10%;
  width: 90%;

  @media #{$tablet} {
    width: 60%;
  }
}

.event {
  display: block;
  color: #FFFFFF;
  border-bottom: 2px solid;

  &:hover {
    text-decoration: line-through;
    color: $color_pr3;

    p { text-decoration: line-through; }
  }

  p {display: inline-block; }
}

// kontaktskjema

form {
  max-width: 500px;
}

.submit input {
  border: none;
  background: none;
  color: white;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    text-decoration: line-through;
    color: $color_pr3;
  }
}

.input input, .input textarea{
  border: none;
  background: #FFFFFF;
  padding: 10px;
  width: 100%;
}


.heading {
  margin-top: 20px;
  font-weight: bold;
}

footer {
  text-align: center;
  z-index: 1;
  position: absolute;
  font-size: $h6;
  padding: 15px;

  bottom: 0;
  width: 100%;


  @media #{$tablet} {

  }

  @media #{$desktop} {
    font-size: $basesize;
  }

  a {
    color: #FFFFFF;

    &:hover { color: $color_pr3; }
  }
}

// Press stuff

#backdropCurtain {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity .5s ease-in-out;
  opacity: 0;

  &.fadeIn {
    opacity: 0.6;
  }
}

.press-stuff {

  .submenu {
    margin-bottom: 100px;
  }
}

.slideshow {
  width: auto;
  padding-left: 0;
  margin-left: 20px;
  margin-right: 20px;

  .slideshow-text-above {
    padding-left: 12%;
  }
}

.swiper-container {
  margin-top: 20px;

  &:hover {
    cursor: pointer;
  }
}

.bildetekst {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.swiper-button-prev {
  background-image: url('/dynamic/upload/filer/icon-prev.svg');
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.swiper-button-next {
  background-image: url('/dynamic/upload/filer/icon-next.svg');
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.swiper-pagination-bullet-active {
  background: #FFFFFF;
}
